<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <title>tic-tac-toe</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-controller="appController">
        <header>
            <h3>tic-tac-toe</h3>
            <nav>
                <input ng-model="playername" placeholder="player name" required>
                <input ng-model="matchname" placeholder="game name" required>
                <a ng-click="createGame(playername, matchname)">create game</a>
                <a ng-click="joinGame(playername)">join game</a>
            </nav>
        </header>
        <article>
            <field-grid match="match"></field-grid>
        </article>
        <footer>
            <p>Created by <em>Christian Rädel</em> &copy;2014</p>
        </footer>
        <script type="text/javascript" src="js/libs.js"></script>
        <script type="text/javascript" src="js/templates.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="http://localhost:27000/livereload.js"></script>
    </body>
</html>
