@import url(https://fonts.googleapis.com/css?family=Trade+Winds|Henny+Penny|Gochi+Hand);

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Henny Penny";
    font-size: 1em;
}
