.field {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.field-grid {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.field-row {
    flex: 1 0 auto;
    display: flex;
}

.field-piece {
    flex: 1 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: @padding;
    border: 3px solid black;
    color: white;
    cursor: pointer;
    transition: all 2.4s linear;

    &.neutral {
        background-color: gray;
    }

    &.ai-field {
        background-color: darkred;
    }

    &.player-field {
        background-color: blue;
    }

    &.state-set {
        cursor: not-allowed;
    }
}
