.player-info {
    flex: 1 0 20%;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.ai {
        background-color: darkred;

        &>h2 {
            //transform: rotate(180deg);
        }
    }

    &.human {
        background-color: blue;

        &>h2 {
            //transform: rotate(-90deg);
        }
    }

    &>* {
        padding: @padding;
    }

    transition: all 2.4s linear;

    &.match-winner {
        background-color: green;

        &>h2 {
            line-height: 2em;
        }
    }
}
